h1 {
  
    position: absolute; /* O puedes usar fixed según lo que necesites */
    right: 400px;          /* Alinea a la derecha */
    top: 80px;        /* Cambia 100px a la altura que desees */


}

h2 {
  
    position: absolute; /* O puedes usar fixed según lo que necesites */
    right: 300px;           /* Alinea a la izquierda */
    top: 150px;         /* Cambia 100px a la altura que desees */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h3, h4 */{
  text-align: center;
  color: #333;
}

/* Estilo para el formulario */
form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="text"], input[type="date"], input[type="time"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}