h1 {
  
    position: absolute; /* O puedes usar fixed según lo que necesites */
    right: 400px;          /* Alinea a la derecha */
    top: 80px;        /* Cambia 100px a la altura que desees */


}

h2 {
  
    position: absolute; /* O puedes usar fixed según lo que necesites */
    right: 300px;           /* Alinea a la izquierda */
    top: 150px;         /* Cambia 100px a la altura que desees */
}